<%- include("../partials/header.ejs") -%>

<%- include("../partials/navigation.ejs") -%>
<main>
  <% if(errorMessage) { %>
  <div class="">
    <%= errorMessage %>
  </div>
  <% } %>
  <form class="form-inline my-2 my-lg-0" action="/login" method="post">
    <label for="email">email</label>
    <input class="form-control mr-sm-2" type="email" name="email" id="email"/>


    <label for="password">password</label>
    <input class="form-control mr-sm-2" type="password" name="password" id="password"/>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Login
    </button>
  </form>
</main>
<%- include("../partials/footer.ejs") -%>
