<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>


<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">


      <div class="card login-card" style="margin-top: 80px">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="./assets/images/login.jpeg" alt="login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="/img/logo/logo.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Change your password</p>

              <form action="/new-password" method="POST">

                <div class="form-group mb-4">
                  <label for="password" class="sr-only">Password</label>
                  <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group mb-4">
                  <label for="confirm-password" class="sr-only">Confirm Password</label>
                  <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password" required>
                </div>



				  <!-- Check these two files Upon the login button we needed -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <button class="btn btn-block login-btn mb-4" type="submit">Update Password</button>
    

              </form>
          
                <p class="login-card-footer-text">Don't have an account? <a href="/signup" class="text-reset">Register here</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#">Terms of use.</a>
                  <a href="#">Privacy policy</a>
                </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

<%- include("../partials/javascript.ejs") -%>

</body>

<%- include("../partials/footer.ejs") -%>
