<%- include("./../partials/header.ejs") -%>
<%- include("./../partials/navigation.ejs") -%>

<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">


      <div class="card login-card" style="margin-top: 100px">
        <div class="row no-gutters">
			<div class="col-md-7">
				<div class="card-body">
					<div class="brand-wrapper">
						<img src="assets/images/logo.svg" alt="logo" class="logo">
					</div>
					<p class="login-card-description">Add Instructure</p>

					<form action="/admin/<% if(editMode) {%>edit-instructor<% } else { %>add-instructor<% } %>" method="POST">
					
						  
					
				          <div class="form-group">
								<label for="name">Name of the Instructor</label>
								<input type="text" name="name" id="name" class="form-control" placeholder="Name of the Instructor" value="<% if(editMode) {%><%= instructor.name %><% } %>">
						  </div>
						  
<!--						  <div class="form-group">    									
								<label for="instructor" class="sr-only">Name of the instructor</label>
								<input type="text" name="instructor" id="instructor" class="form-control" placeholder="Name of the instructor">
						  </div>		
-->
						  
						  <!-- <div class="form-group">    
								<label for="opinion" class="sr-only">Opinion</label>
								<input type="text" name="opinion" id="opinion" class="form-control" placeholder="Opinion" value="<% if(editMode) {%><%= instructor.opinion %><% } %>">
						  </div> -->
              

				  <!-- Check these two files Upon the login button we needed -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <% if(editMode) { %>
                    <input type="hidden" name="instructorId" value="<%= instructor._id %>">
                <% } %>

                <button class="btn btn-block login-btn mb-4" type="submit">
                    <% if(editMode) { %>
                        Edit Instructor
                    <% } else { %>
                        Add Instructor
                    <% } %>
                </button>
                  <!-- <input name="login" id="login" class="btn btn-block login-btn mb-4" type="button" type="submit" value="Login"> -->

</body>

<%- include("../partials/footer.ejs") -%>
<%- include("../partials/javascript.ejs") -%>
