<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>
<body>
    <h1>Course Name: <%= course.name %></h1>
    <h1>Instructor Name: <%= instructor.name %></h1>
</body>

<%- include("../partials/javascript.ejs") -%>
<%- include("../partials/footer.ejs") -%>