<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>
<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<div class="container">
		
		<div class="col-lg-12 col-xl-12 text-center"  style="padding-top:120px;">
                <h1><b><%= course.name %></h1>
                <h3><%= instructor.name %></b></h3>
		</div>
		        
        <div class="row container-fluid">
        
        <% posts.map(post => { %>
         <div class="col-xl-12 col-lg-12 col-md-12 col-12 ">   
            <div class="card shadow" style="margin-right: 2%;margin-right: 2%; margin-bottom: 5%; margin-top: 5%; padding-left:5%; padding-right:5% ">
                <div class="card-content">
                    
                <img src="/<%= post.document %>" alt="<%= post.title %>" style="width: 112%;margin-left: -6%; padding-bottom: 10px; padding-top:0px">
                
                <h3 class="text-center"><b><%= post.title %></b></h3>
                
                <div class="row" style="padding-bottom:10px;">
                    <div class="col-xl-8 col-lg-8">
                        <h4><b><%= post.description %></b></h4>
                    </div>
                    
                    <div class="col-xl-4 col-lg-4">
                        <form action="/download" method="POST">
                            <input type="hidden" name="courseId"  value="<%= course._id %>">
                            <input type="hidden" name="document"  value="<%= post.document %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" style="background:#2B4BEA; color:#ffffff;" class="btn btn-block login-btn mb-4">Download</button>    
                        </form>
                    </div>
                    
                    
                </div>

                <% post.comments.map(comment => { %>
                    <div class="well well-sm">
                        <h6> + <%= comment.comment %><br><h7 class="text-muted">By <%= comment.user.name%></h7></h6>
                    </div>
                        
                    <% }); %>
                <form action="/post/add-comment" method="POST">
                    <div class="form-group">
                        <input type="text" name="comment" id="comment" class="form-control" placeholder="Your comment">
                    </div>

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="courseId" value="<%= course._id %>">

                    <input type="hidden" name="postId" value="<%= post._id %>">
                    
                    <button type="submit" style="background:#2B4BEA; color:#ffffff" class="btn btn-block login-btn mb-4">Submit</button>

                </form>

                </div>
            </div>
         </div>    
        <% }); %>

        </div>

        <div class="col-xl-12 col-lg-12 card shadow" style="padding-top:10px; padding-bottom:20px;margin-top: 10px; margin-bottom: 40px;">
            <% if(isAdmin) { %>
                <h2>Add a new Post(upload only .jpg .jpeg. or .png file)</h2>
            <div class="row">    
                <div class="col-xl-6 col-lg-6">
                
                    <form action="/admin/course/add-post" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                
                        <input type="text" name="title" id="title" class="form-control" placeholder="Title of the Post" required>
                    </div>
                    <div class="form-group">
 
                        <input type="file" name="document" id="document" class="form-control" required>
                    </div>
                </div>      
                <div class="col-xl-6 col-lg-6">
                    <div class="form-group">
                        <textarea name="description" id="description" cols="30" rows="4" placeholder="Description required" class="form-control" ></textarea>
                    </div>
                    <div class="form-group">   
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="courseId" value="<%= course._id %>">
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12">    
                    <button type="submit" style="background:#2B4BEA; color:#ffffff" class="btn btn-block login-btn mb-4">Submit</button>
                </div>
                </form>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</body>

<%- include("../partials/javascript.ejs") -%>
<%- include("../partials/footer.ejs") -%>
