<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>



<body>
	<div class="container">
			<h1 style="text-align:center; padding-top:120px;padding-bottom:30px;">All Courses</h1>
			<div class="row col-lg-12">
				
				<style>
					.course {padding-left: 15px; 
  						padding-right:15px;
  						padding-top:10px; 
  						padding-bottom:10px; 
  						margin-left:20px; 
  						margin-right:20px; 
  						margin-bottom:40px; 
  						border-radius:3%;
					}
				</style>

				<% courses.map(course => { %>
				
				<div class="col-xl-4 col-lg-4 col-md-6 col-12">
					<div class="course card shadow">
						<p>
<!--======================= I Removed the course name and all other as they were not looking good =======================-->
								<h3><%= course.name %></h3>
								
								<h6 class="text-muted"><%= course.courseCode %></h6>
								
								<h6 class="text-muted"><%= course.instructor.name %></h6>
						</p>

						<% if(hasBuiltProfile && isVerified) { %>
							<% let flag = false %>
								<% userCourses.map(userCourse => { %>
								<% console.log(userCourse); %>
							<% if(userCourse._id.toString() === course._id.toString()) { %>
								<% flag = true; %>
						        <h1 class="btn btn-primary btn-block login-btn mb-4">You already follow this course</h1>
							<% } %>
							<% }) %>
							<% if(!flag) { %>
								<form action="/follow-courses" method="POST">
									<input type="hidden" name="courseId" value="<%= course._id %>">
            
									<input type="hidden" name="_csrf" value="<%= csrfToken %>">
									
									<button class="btn btn-primary btn-block login-btn mb-4" type="submit">
										Follow Course
									</button>
								</form>
							<% } %>
						<% } %>
                    

						<% if(isAdmin) { %>
					

						<a href="/admin/edit-course/<%= course.id %>/?edit=true" class="btn btn-primary btn-block login-btn mb-4">Edit</a>
						<a class="btn btn-primary btn-block login-btn mb-4" href="/courses/<%= course._id %>">View Course</a>
                    
						<% } %>
					</div>	
				</div>
				 
				<% }); %> 
				 
			</div>   <!-- div class row closed -->
	</div>			 <!-- div class container  -->

</body>
<%- include("../partials/javascript.ejs") -%>
<%- include("../partials/footer.ejs") -%>
