<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>



<body>
    <br>
    <br><br><br><br>
    <div>
              <p class="">Courses</p>

    
                <% courses.map(course => { %>
                    <h1>Name of the Course: <%= course.name %></h1>

                    <h1>courseCode: <%= course.courseCode %></h1>

                    <h1>instructor: <%= course.instructor.name %></h1>

                    <% let flag = false %>
                    <% userCourses.map(userCourse => { %>
                        <% console.log(userCourse); %>
                        <% if(userCourse._id.toString() === course._id.toString()) { %>
                            <% flag = true; %>
                            <h1 class="btn btn-primary">You already follow this course</h1>
                        <% } %>
                    <% }) %>
                    <% if(!flag) { %>
                        <form action="/follow-courses" method="POST">
                            <input type="hidden" name="courseId" value="<%= course._id %>">
            
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit">
                                
                                Follow course
                            </button>
                        </form>
                    <% } %>
                    <!-- <form action="/follow-courses" method="POST">
                        <input type="hidden" name="courseId" value="<%= course._id %>">
        
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-block login-btn mb-4" type="submit">
                            
                            Follow course
                        </button>
                    </form> -->

                    <% if(isAdmin) { %>
                        <!-- <form action="/admin/edit-course" method="post">
                            <input type="hidden" name="courseId" value="<%= course._id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Edit Course</button> 
                        </form> -->

                        <a href="/admin/edit-course/<%= course.id %>/?edit=true" class="btn btn-primary">Edit</a>
                    <% } %>

                <% }); %>
      </div>
</body>

<%- include("../partials/footer.ejs") -%>