
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>


<body>

              <p class="">instructors</p>

    
                <% instructors.map(instructor => { %>
                    <h1>Name of the Course: <%= instructor.name %></h1>

                    <h1>Opinion about the instructor: <%= instructor.opinion %></h1>

                    <ul>
                        <% instructor.courses.map(course => { %>
                             <li>Name of the Course: <%= course._id %></li>
                        <% }); %>
                    </ul>


                    <% if(isAdmin) { %>
                        <!-- <form action="/admin/edit-instructor" method="post">
                            
                            <input type="hidden" name="instructorId" value="<%= instructor._id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit">Edit instructor</button> 
                        </form> -->
                        <a href="/admin/edit-instructor/<%= instructor.id %>/?edit=true" class="btn btn-primary">Edit instructor</a>
                    <% } %>

                <% }); %>

</body>

<%- include("../partials/footer.ejs") -%>