
<%- include("../partials/header.ejs") -%>
<%- include("../partials/navigation.ejs") -%>


<body>
	<div class="container">
			<h1 style="text-align:center; padding-top:120px;padding-bottom:30px;">All Instructors</h1>
			<div class="row col-lg-12">
            
                <style>
					.instructor {padding-left: 15px; 
  						padding-right:15px;
  						padding-top:10px; 
  						padding-bottom:10px; 
  						margin-left:20px; 
  						margin-right:20px; 
  						margin-bottom:40px; 
  						border-radius:3%;
                    }
                    
                    @media only screen and (max-width: 600px;) {
                        .instructor {
                            padding-right:2px;
                            padding-left:2px;
                        }
                        
                    }
                </style>
                
                <% instructors.map(instructor => { %>
                
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="card shadow instructor">  
                    <h3><%= instructor.name %></h3>

        
                    <h5 class="text-muted">Courses Offered</h5>
                    
                    <ul>
                        <% instructor.courses.map(course => { %>
                             <li><h6 class="text-muted"><%= course.name %></h6></li>
                        <% }); %>
                    </ul>

                    <a class="btn btn-primary btn-block login-btn mb-4" href="/instructors/<%= instructor._id %>">View instructor</a>

                    <% if(isAdmin) { %>
                  
                        <a href="/admin/edit-instructor/<%= instructor.id %>/?edit=true" class="btn btn-primary btn-block login-btn mb-4">Edit instructor</a>
                    <% } %>

                  </div>
                </div>
                
                <% }); %>
             
      	</div>   	 <!-- div class row closed -->
	</div>			 <!-- div class container  -->
	
</body>

<%- include("../partials/footer.ejs") -%>
